<html>
<head >
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}" />
</head>

<body>
  <script src="{{ url_for('static',filename='scripts/script.js') }}" async></script>
  <div class="header_" id="myHeader_" >
    <img id='logo' class="main_logo" src="{{ url_for('static',filename='img/Logo.png') }}" alt="Logo">
    Squirrel Electricity Management

  </div>
  <div class="header" id="myHeader" >

    <div class='menu'>
      <ul>
        <li><text_mag class='magnifier' onclick="magnification(1)"> Aa </text_mag>
          <text_mag class='demagnifier' onclick="magnification(-1)"> Aa </text_mag>
          <text_mag id='mag_img' onclick="mode(1)">&#9681;</text_mag>
        </li>
        <li class='menu'><a class="active" href="/">Menu principal</a></li>
      </ul>
    </div>
  </div>

  <div class="content">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
           {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

  <footer id='footer'>
    <text_footer>Created by: Team Squirrel</text_footer>
    <text_footer>Contact information: <a href="https://twitter.com/TeamSquirrel2?s=20">twitter</a>.</text_footer>
    <text_footer>Mentions légales: <a href="/mentions-legales">ici</a>.</text_footer>
  </footer>
  <script async>
    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;

    function stickfunc() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }
  </script>
</body>
</html>
